<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Package source 1" value="../dist/csharp/SnowflakeDemoPackageFast@0.1.0.0.1.0/SnowflakeDemoPackageFast/bin/Debug/SnowflakeDemoPackageFast.1.0.0.nupkg" />
    <add key="local" value="../dist/csharp/SnowflakeDemoPackageFast@0.1.0.0.1.0/SnowflakeDemoPackageFast/bin/Debug/SnowflakeDemoPackageFast.1.0.0.nupkg" />
  </packageSources>
</configuration>
